<div class="card__dashboard">
  <div class="dashboard__header p-3 border-bottom">
    <h1>Edit Project</h1>

  </div>
    <div class="dashboard__content p-3">
      <%= render 'form', project: @project %>

    </div>
</div>
