<div class="card__dashboard">
  <%= render 'dashboard/shared/header', collection: @projects, title: 'Projects', header_path: new_dashboard_project_path, link_text: 'project' %>
  <div class="dashboard__list px-3">
    <%= render 'dashboard/shared/list_header' %>

    <% @projects.each do |project| %>
      <%= render 'dashboard/shared/list', element: project,
                                          link_to_edit: edit_dashboard_project_path(project),
                                          link_to_show: dashboard_project_path(project) %>
    <% end %>
  </div>
</div>
