<h1>Hi</h1>
<% @albums.each do |album| %>
  <%= album.inspect %>
<% end %>
<div class="dashboard__list px-3">
  <table class='table'>
    <thead>
      <tr>
        <%= render 'dashboard/shared/index/table_header' %>
      </tr>
    </thead>
    <tbody>
      <%= render 'dashboard/shared/index/table_body', collection: @albums %>
    </tbody>
  </table>
</div>
