<% collection.each do |element| %>
  <tr>
    <% element.class.dashboard_headers.each do |header| %>
      <% if %w[updated\ at created\ at].include? header %>
        <td><%= element.send(header.gsub(' ', '_').to_sym).in_time_zone.strftime('%c') %></td>
      <% else %>
        <td><%= element.send(header.gsub(' ', '_').to_sym) %></td>
      <% end %>
    <% end %>
  </tr>
<% end %>
