<%= render 'shared/breadcrumbs' %>

<div class="col-12">
  <%= render 'observatories/map', tilesets: @tilesets, hide_filter: true, header: false, tag: :h3, css_classes: { class: 'mb-0 fs-3 fs-md-2' }, visible: true %>
</div>
