// Define variables for your color scheme


// Define variables for your color scheme

$white: #fff !default;
$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;
$light-gray: #F4F4F4;
$gray: #0E0000 !default;
// $gray: #6c757d !default;
$black: #000 !default;


$r-blue: #0069C4;
$r-blue-d: #083461;
$r-blue-l: #008DD1;
$r-blue-sky: #BDE4F3;
$r-orange: #FF7315;
$r-yellow: #FFDA42;
$r-yellow-l: #FFECAB;
$r-red: #FF303F;
$r-red-d: #8C1B21;
$r-pink-l: #FFDAD9;
$r-salmon: #FFBB98;
$r-dark: #02152B;
$r-light: #EBEEF0;
$r-light-gray-d: #08346125;
$r-light-gray:#0834611a;
