.article__show {

}

.show__header {
  border-bottom: 2px solid #d3d3d34f;
  margin-bottom: 3rem;
  padding-bottom: 1.125rem;
  h1 {
    font-size: 32px;
    margin-bottom: 1.125rem;
  }

  p {
    font-family: $headers-font;
    opacity: .8;
    margin-bottom: 1.125rem;
  }

  small {
    font-family: $headers-font;
    font-size: .7rem
  }
}
