.e360_1869 { 
	box-shadow:4px 4px 20px rgba(0, 0, 0, 0.10000000149011612);
	background-color:rgba(255, 255, 255, 1);
	width:384px;
	height:486px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	position:absolute;
}.e357_1763 { 
	width:384px;
	height:361px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
	background-image:url(images/frame_551.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e357_1764 { 
	width:384px;
	height:125px;
	position:absolute;
	left:0px;
	top:361px;
}.e357_1765 { 
	width:246px;
	height:95px;
	position:absolute;
	left:16px;
	top:15px;
}.e357_1766 { 
	color:rgba(8.000000473111868, 52.000000700354576, 97.00000181794167, 1);
	width:246px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Unbounded;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}.e357_1767 { 
	width:182px;
	height:26px;
	position:absolute;
	left:0px;
	top:69px;
}.e413_5355 { 
	width:182px;
	height:26px;
	position:absolute;
	left:0px;
	top:0px;
}.i413_5355_413_5184 { 
	border:1px solid rgba(8.000000473111868, 52.000000700354576, 97.00000181794167, 1);
}.ei413_5355_413_5184 { 
	width:81px;
	height:26px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.ei413_5355_413_5185 { 
	color:rgba(8.000000473111868, 52.000000700354576, 97.00000181794167, 1);
	width:67px;
	height:16px;
	position:absolute;
	left:7px;
	top:5px;
	font-family:Raleway;
	text-align:left;
	font-size:10px;
	letter-spacing:1.5;
	line-height:px;
}.i413_5355_413_5186 { 
	border:1px solid rgba(8.000000473111868, 52.000000700354576, 97.00000181794167, 1);
}.ei413_5355_413_5186 { 
	width:93px;
	height:26px;
	position:absolute;
	left:89px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.ei413_5355_413_5187 { 
	color:rgba(8.000000473111868, 52.000000700354576, 97.00000181794167, 1);
	width:79px;
	height:16px;
	position:absolute;
	left:7px;
	top:5px;
	font-family:Raleway;
	text-align:left;
	font-size:10px;
	letter-spacing:1.5;
	line-height:px;
}.e357_1772 { 
	box-shadow:4px 4px 12px rgba(82.49426499009132, 81.13073095679283, 81.13073095679283, 0.10000000149011612);
	background-color:rgba(255, 255, 255, 0.949999988079071);
	width:92px;
	height:92px;
	position:absolute;
	left:276px;
	top:16.5px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.357_1772 { 
	border:1px solid rgba(8.000000473111868, 52.000000700354576, 97.00000181794167, 1);
}.e357_1773 { 
	width:48px;
	height:53px;
	position:absolute;
	left:22px;
	top:9px;
}.e357_1774 { 
	color:rgba(8.000000473111868, 52.000000700354576, 97.00000181794167, 1);
	width:26px;
	height:26px;
	position:absolute;
	left:11px;
	top:0px;
	font-family:Raleway;
	text-align:center;
	font-size:24px;
	letter-spacing:0.15000000596046448;
	line-height:px;
}.e357_1775 { 
	color:rgba(8.000000473111868, 52.000000700354576, 97.00000181794167, 1);
	width:48px;
	height:26px;
	position:absolute;
	left:0px;
	top:27px;
	font-family:Raleway;
	text-align:center;
	font-size:24px;
	letter-spacing:0.15000000596046448;
	line-height:px;
}.e357_1776 { 
	color:rgba(8.000000473111868, 52.000000700354576, 97.00000181794167, 0.800000011920929);
	width:70.95680236816406px;
	height:20px;
	position:absolute;
	left:10.521598815917969px;
	top:63px;
	font-family:Raleway;
	text-align:center;
	font-size:14px;
	letter-spacing:0.10000000149011612;
	line-height:px;
}