<div class="container" data-controller="see-more">

  <div class="row justify-content-center mt-2 mb-4 mb-md-5">
    <div class="col-12 mt-3">
      <div class="d-flex justify-content-between align-items-center border border-warning border-5 border-end-0 border-top-0 border-bottom-0 ps-4">
        <h1>Produções audiovisuais</h1>
      </div>
    </div>
  </div>

  <div class="row" style="row-gap: 16px;">
    <% @videos.each do |video| %>
      <div class="col-12 col-lg-6">
        <div class="slide__card slide__card--md">
          <div class="video_wrapper" >

            <iframe frameborder="0"
                              width="100%"
                              height="100%"
                              src='<%= Project::YOUTUBE_BASE_URL %><%= video.yt_id %>?rel=0'
                              allowfullscreen
                              class="" >
            </iframe>
          </div>
          <div class="video__content">
            <p class="subtitles__video mt-3 mb-2"><%= video.name %></p>
            <div data-controller="see-more" data-see-more-limit-value="120">
              <span data-see-more-target="text" class="mb-0">
                <%= video.description %>
              </span>
              <a
                href="#"
                data-see-more-target="button"
                data-action="see-more#toggle"
                class="text-rede-primary-l"
                style="font-size: 16px !important;"
              >
                <em data-see-more-target="buttonText" style="text-transform: lowercase;">ver mais</em>
              </a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
