.absolute--cover {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover !important;
  width: 100% !important;
  height: 100% !important;
}

#faq {
  width: 100%;
  position: relative;
  padding: 60px 0; /* make the padding the same as the height of the pseudo elements*/
}

#faq:before {
  content: '';
  background: url(asset_path('contact-top-wave.png'));
  width: 100%;
  height: 60px; /*make the height the same as the height of the background image size*/
  background-size: 100% 100%;
  position: absolute;
  top: 0;
}

#faq:after {
  content: '';
  background: url(asset_path('contact-bottom-wave.png'));
  width: 100%;
  height: 60px; /*make the height the same as the height of the background image size*/
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
}

#details-wrapper {
  background-color: #f3f5f7;
  width: 100%
}

.border-light {
  --bs-border-opacity: 1;
  border-color: rgba(0, 141, 209, 0.1) !important;
}

.position-inherit {
  position: inherit !important;
}

.shadow-none {
    box-shadow: none !important
}

.shadow-bottom {
    box-shadow: 0 0.3rem 0.4rem rgba(27,23,23,0.15) !important
}

.shadow-elevation-1 {
    box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.15) !important
}

.shadow-elevation-2 {
    box-shadow: 0px 1px 5px 0px rgba(25,29,58,0.05),0px 3px 1px -2px rgba(25,29,58,0.02),0px 2px 2px 0px rgba(25,29,58,0.03) !important
}

.fw-500 {
  font-weight: 500 !important;
  font-variation-settings: "wght" 450;
}

.fs-14 {
  font-size: 0.875rem !important;
}

.opacity-60 {
  opacity: 60% !important;
}

.opacity-80 {
  opacity: 80% !important;
}

.bg-hover-transparent:hover {
  background-color: transparent !important;
}

.b-light {
  border: 2px solid rgba(8, 52, 97, 0.1);
}

h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
}

.min-height-100 {
  min-height: 100%;
}

.grid-one-five {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: .5rem;
  align-items: center;
}

.cursor__link--hover {
  cursor: pointer;
}

.wave__wrapper {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.about__bottom__wave {
  position: absolute;
  bottom: -8%;
  height: 8%;
  z-index: -5;
}

.about__top__wave {
  position: absolute;
  z-index: -5;
  top: -30%;
  height: 30%;
}

.text-header {
  font-family: $headers-font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $primary
}

.hidden__el {
  opacity: 0;
  visibility: hidden;
}
.show__el, .active {
  opacity: 1;
  visibility: visible;
}

.mb-out {
  margin-bottom: 0 !important;
}

form.hidden__el {
  visibility: hidden;
  transition: visibility .2s ease-in-out;
  position: absolute;
}

form.hidden__el.active {
  margin-top: .7625rem;
  visibility:visible !important;
  position: initial;
}

.hover-cursor {
  cursor: pointer;
}

.fit--cover {
  object-fit: cover;
}

@media (min-width: 420px) {
  .about__top__wave {
    top: -19%;
    height: 19%;
  }
}

@media (min-width: 768px) {
  .about__bottom__wave {
    bottom: -6%;
    height: 6%;
  }
  .about__top__wave {
    top: -16%;
    height: 16%;
  }
}

@media (min-width: 992px) {
  .lg-height {
    height: 116px;
  }

  .about__bottom__wave {
    bottom: -7%;
    height: 7%;
  }

  .about__top__wave {
    top: -120px;
    height: 120px;
  }

  .wave__wrapper {
    margin-top: 3rem;
  }
}

@media (min-width: 1024px) {
  .about__top__wave {
    top: -116px;
    height: 116px;
  }
  .about__bottom__wave {
    bottom: -9%;
    height: 9%;
  }
}

@media (min-width: 1200px) {
  .about__bottom__wave {
    bottom: -9%;
    height: 9%;
  }
}
@media (min-width: 1440px) {
  .about__bottom__wave {
    bottom: -10%;
    height: 10%;
  }
  .about__top__wave {
    top: -166px;
    height: 166px;
  }
}
