.b-light {
  border: 2px solid rgba(8, 52, 97, 0.1);
}

h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
}

.min-height-100 {
  min-height: 100%;
}

.grid-one-five {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: .5rem;
  align-items: center;
}

.cursor__link--hover {
  cursor: pointer;
}

.wave__wrapper {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.about__bottom__wave {
  position: absolute;
  bottom: -4%;
  z-index: -5;
}

.about__top__wave {
  position: absolute;
  z-index: -5;
  top: -11%;
}

.text-header {
  font-family: $headers-font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $primary
}

.hidden__el {
  opacity: 0;
  visibility: hidden;
}
.show__el, .active {
  opacity: 1;
  visibility: visible;
}

.mb-out {
  margin-bottom: 0 !important;
}

form.hidden__el {
  visibility: hidden;
  transition: visibility .2s ease-in-out;
  position: absolute;
}

form.hidden__el.active {
  margin-top: .7625rem;
  visibility:visible !important;
  position: initial;
}

.hover-cursor {
  cursor: pointer;
}

@media (min-width: 768px) {
  .about__bottom__wave {
    bottom: -6%;
  }
}

@media (min-width: 992px) {
  .lg-height {
    height: 116px;
  }

  .about__bottom__wave {
    bottom: -7%;
  }

  .about__top__wave {
    top: -150px;
  }

  .wave__wrapper {
    margin-top: 3rem;
  }
}

@media (min-width: 1200px) {
  .about__bottom__wave {
    bottom: -9%;
  }
}
@media (min-width: 1440px) {
  .about__bottom__wave {
    bottom: -10%;
  }
}
