<nav aria-label="breadcrumb">
  <ol class="breadcrumb px-3 py-2 mb-0">
    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
    <% @breadcrumbs.each do |crumb| %>
      <% if crumb[:current] %>
      <li class="breadcrumb-item active" aria-current="page"><%= crumb[:name] %></li>
      <% else %>
      <li class="breadcrumb-item" aria-current="page"><%= link_to crumb[:name], crumb[:path] %></li>
      <% end %>
    <% end %>
  </ol>
</nav>
