<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
  <ol class="breadcrumb mb-3 text-reset">
    <% @breadcrumbs.each do |crumb| %>
      <% if crumb[:current] %>
        <li class="breadcrumb-item active" aria-current="page"><%= crumb[:name] %></li>
      <% else %>
        <li class="breadcrumb-item" aria-current="page"><%= link_to crumb[:name], crumb[:path] %></li>
      <% end %>
    <% end %>
  </ol>
</nav>
