<nav class="navbar sticky-top bg-body navbar-visitor navbar-light navbar-expand-lg py-2"
     data-controller="css-classes"
     data-action="scroll@window->css-classes#onScroll"
     data-css-classes-scrolling-class="shadow-elevation-2">
  <div class="container">
    <%= link_to root_path, class: 'navabar-top-logo' do %>
      <%= image_tag 'Logo_PEA.png', width: '186px', alt: 'Logo do PEA Rede Observação' %>
    <% end %>
    <button class="navbar-toggler btn-nav position-absolute end-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuMobile" aria-controls="menuMobile" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <%# laptop nav seen after lg breakpoint %>
    <%= render "shared/navbar/desktop" %>
    <%# Mobile nav hidden after lg breakpoint %>
    <%= render "shared/navbar/mobile" %>
  </div>
</nav>
