<%= turbo_frame_tag 'nav-images' do %>
  <div class="dropdown-pane position-relative border-start border-light ps-3" style="padding-top: 2rem !important; padding-bottom: 2rem !important;--bs-bg-opacity: 1;">
    <div class="d-flex">
      <!-- Nav tabs -->
      <div class="d-flex flex-columns justify-content-between dropdowm-menu-panel-width pe-0" style="padding-top: 2rem !important; padding-bottom: 2rem !important;">
        <ul class="nav d-inline-flex flex-column align-items-start nav-pills w-100 nav-tabs border-bottom-0" id="myTab" role="tablist">
          <% nav_albums.each do |gallerie| %>
            <li class="mb-lg-3 w-100">
              <%= render Dropdown::TabButtonComponent.new(gallerie.name, id: "gallery-show-tab", target: "nav-gallery-show", is_active: false) %>
            </li>
          <% end %>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
        <% nav_albums.each do |gallerie| %>
          <turbo-frame class="tab-pane" id="nav-gallery-show" role="tabpanel" aria-labelledby="gallery-show-tab" tabindex="0" src="<%= navbar_gallery_path(gallerie.name)%>" loading="lazy">
            <div class="text-muted">Carregando álbuns de <%= gallerie.name %>...</div>
          </turbo-frame>
        <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
