<div class="subtitle__content">
  <p>Poligonos</p>
  <ul class="map__subtitles">
    <li >
      <i class="fa-solid fa-draw-polygon icon--dark-blue"></i> Território do grupo tradicional
    </li>
    <li>
      <i class="fa-solid fa-draw-polygon icon--green"></i> Território do grupo tradicional
    </li>
    <li>
      <i class="fa-solid fa-draw-polygon icon--light-blue"></i> Território do grupo tradicional
    </li>
    <li>
      <i class="fa-solid fa-draw-polygon icon--pink"></i> Território do grupo tradicional
    </li>
    <li>
      <i class="fa-solid fa-draw-polygon icon--red"></i> Território do grupo tradicional
    </li>
  </ul>
</div>
