<div class="subtitle__content">
  <p>Linhas</p>
  <ul class="map__subtitles">
    <li >
      <%= image_tag 'map/noun-zig-zag--black.svg' %> Dutos
    <li>
      <%= image_tag 'map/noun-zig-zag--blue.svg' %> Rios
    </li>
    <li>
      <%= image_tag 'map/noun-zig-zag--pink.svg' %> Ruas
    </li>
  </ul>
</div>
