<div class="subtitle__content">
  <ul class="map__subtitles">
    <% polygons.each do |icon, text| %>
      <li >
        <i class="fa-solid fa-draw-polygon <%= icon %>"></i> <%= text %>
      </li>
    <% end %>
  </ul>
</div>
