<div class="subtitle__content">
  <ul class="map__subtitles">
    <% lines.each do |icon, text| %>
      <li >
        <%= image_tag "map/noun-zig-zag--#{icon}.svg" %> <%= text %>
      </li>
    <% end %>
  </ul>
</div>
