<% content_for :meta_title, "Mapa de conflitos - #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_image, display_banner_as_background(@observatories.first) %>
<div class="container">
  <%= render 'map', markers: @markers, hide_filter: true, header: true, tag: :h1, css_classes: { } %>
</div>
