.subtitle__wrapper {
  position: absolute;
  top: 8px;
  left: 8px;
  height: 38px;
  z-index: 10;
}
ul.map__subtitles {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  li {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.subtitle {
  width: 320px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
  padding-bottom: 32px;
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
  p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  i {
    margin-right: 4px;
  }

  .icon--dark-blue {
    color: #08335F;
  }

  .icon--green {
    color: #29A223;
  }

  .icon--light-blue {
    color: #55FFFF;
  }

  .icon--pink {
    color: #BF489C;
  }

  .icon--red {
    color: #6F1B1E;
  }
}

.subtitle .carousel-indicators {
  margin-bottom: -1.5rem !important;
}

.subtitle__content {
  min-height: 224px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img {
    width: 20px;
  }
}
