<div class="container mt-5">
  <div class="row">
    <div class="col-12 mt-5">
      <div class="about__header">
        <%= link_to 'O Projeto', '#', class: 'header__link active' %>
        <%= link_to 'Mapa', '#', class: 'header__link' %>
        <%= link_to 'Metodologias', '#', class: 'header__link' %>
      </div>
    </div>
  </div>
</div>
