<div class="banner--home">
  <div class="container align-self-center">
    <h1>Trabalhamos para reduzir os impactos do petróleo e gás na Bacia de Campos</h1>
  </div>
  <div class='home-action'>
    <a class='main' href="#">Saiba mais</a>
    <a class='optional' href="#"><%= icon 'fa-solid', 'arrow-down' %></a>
  </div>
</div>

<div class="container my-5 py-5">
  <section class="row">
    <% 3.times do %>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card__we">
          <div class="circle--gray"></div>
          <p>11 observatorios na regiao bacia de campos</p>
        </div>
      </div>
    <% end %>
  </section>
</div>

<h2>Mapa de Atuação</h2>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>

<h2>Últimos eventos</h2>
<div class="card-event">
  <%= image_tag 'capa.png' %>
  <p>Teatro do Oprimido</p>
  <small>ITAPEMIRIM</small>
  <div class="event-date">
    <p>13</p>
    <p class="month">DEZ</p>
    <p>23</p>
  </div>
</div>
