<div class="col-12 map__wrapper mt-5" style="width: 100% !important;"
                   data-controller="map"
                   data-map-markers-value="<%= [] %>"
                   data-map-can-close-value="false"
                   data-map-style-value="mapbox://styles/dedemenezes/clri3vd1t00d301peboqu0r57"
                   data-map-tilesets-value="<%= @tilesets.to_json %>"
                   data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  <div class="map__container"
                      style="height: 80vh;"
                      data-map-target="mapContainer">
                      <%# // REFAC COORDINATE GESTURES %>
                      <%# data-action="click->map#coverWarning"> %>
  </div>
</div>
