<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 col-xl-6 pt-4">
      <form class="d-flex flex-grow-1 nav-item" action="<%= search_path %>" role="seach">
        <input id="query" name="q" class="form-control me-2" type="search" value="<%= params[:q] %>" placeholder="O que você procura?">
        <button class="btn btn-outline-primary" type="submit">Pesquisar</button>
      </form>
    </div>
  </div>
</div>
<section id="faq">
  <div id="details-wrapper">
    <h3 class="text-center">Resultados encontrados para: <span class="text-rede-primary-l"><%= params[:q].downcase %></span></h1>
    <div class="container">
    <% if @articles.empty? %>
      <p>Sem reultados</p>
    <% else %>
      <% @articles.each do |article| %>
        <%= link_to article.header, article_path(article), class: 'link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover' %>
      <% end %>
    <% end %>
    </div>
  </div>
</section>
