<div class="container">
  <div class="about_us mt-5 mb-4">
    <div class="row align-items-center justify-content-center">
      <div class="col-12 col-lg-6 mb-4">
        <h1><span>Metodologia</span> <br><%= @methodology.name %></h1>
      </div>
      <div class="col-12  col-lg-6">
        <p>O Projeto de Educação Ambiental (PEA) Rede Observação é uma medida de mitigação exigida pelo licenciamento ambiental federal, conduzido pelo IBAMA. Tem como objetivo realizar a organização social através de processos educativos que englobam formação, pesquisa e intervenção social.</p>
        <p>O trabalho é realizado através de um acompanhamento técnico, pedagógico e administrativo e busca monitorar e avaliar os conflitos vivenciados pelas comunidades nos municípios da área de influência que estão relacionados à cadeia produtiva de óleo e gás.</p>
      </div>
    </div>
  </div>
</div>
