<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @first_name %></h1>
    <p>
      Obrigado por entrar em contato <%= @last_name %>.<br>
    </p>
    <p>
      Sua mensagem foi:
    </p>
    <p>
      <%= @message %>
    </p>
    <p>Em breve entraremos em contato!</p>
  </body>
</html>
