<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá, <%= @first_name %></h1>
    <p>
      Obrigado por entrar em contato com a Rede Observação!<br>
      Sua mensagem foi recebida e será analisada por nossa equipe de suporte em breve.<br>
    </p>

    <p>Obrigado por tomar o tempo para nos escrever. Estamos ansiosos para ajudá-lo.</p>

    <p>
      Sua mensagem foi:
    </p>
    <p>
      <%= @message %>
    </p>
  </body>
</html>
