<div class="mt-3">
  <%= simple_form_for([:dashboard, @dashboard_conflict_type]) do |f| %>
      <%= f.input :name %>
    <%= render 'dashboard/shared/form/submit_cancel', form: f,  element: @dashboard_conflict_type %>

  <% end %>

</div>
