<h1>Editing conflict type</h1>

<%= render "form", dashboard_conflict_type: @dashboard_conflict_type %>

<br>

<div>
  <%= link_to "Show this conflict type", @dashboard_conflict_type %> |
  <%= link_to "Back to conflict types", dashboard_conflict_types_path %>
</div>
