<div class="row align-items-center mt-3">
  <div class="col-2">
    <%= display_banner(element, width: '100%') %>
  </div>
  <div class="col-10">
    <% if !element.banner.attached? %>
      <%= form.input :banner,
                  as: :file,
                  input_html: {
                    class: 'd-none',
                    data: {
                      photo_preview_target: "photoInput",
                      action: 'change->photo-preview#displayFilesCounter'
                    }
                  },
                  label_html: {
                    class: 'upload-photo',
                    data: { photo_preview_target: 'photoPreview' }
                  },
                  wrapper_html: { data: { controller: 'photo-preview', photo_preview_target: 'submit' } },
                  label: '📷 Selecione uma foto como banner' %>
    <% else %>
      <div data-controller="display-photo-input">
      <%= form.input :banner,
                  as: :file,
                  input_html: {
                    class: 'd-none',
                    data: {
                      photo_preview_target: "photoInput",
                      action: 'change->photo-preview#displayFilesCounter'
                    }
                  },
                  label_html: {
                    class: 'upload-photo',
                    data: { photo_preview_target: 'photoPreview' }
                  },
                  wrapper_html: { class: 'box--anim box--hidden', data: { controller: 'photo-preview', photo_preview_target: 'submit', display_photo_input_target: 'input' } },
                  label: '📷 Selecione uma foto como banner' %>
        <%#= form.input :banner, as: :file, input_html: { class: 'box--anim box--hidden', data: { display_photo_input_target: 'input' } } %>
        <button class="btn btn-primary" data-display-photo-input-target="button" data-action="click->display-photo-input#display">Quer atualizar o banner?</button>
      </div>
    <% end %>
  </div>
</div>
<% if block_given? %>
  <div class="row align-items-center mt-2">
    <div class="col-12">
      <%= yield %>
    </div>
  </div>
<% end %>
