.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner--article {
  padding: 0;
  img {
    height: 370px;
    object-fit: cover;
    object-position: center;
  }

  small {
    font-size: .8rem;
    font-weight: 500;
  }

  position: relative;
}

.image-filter--black {
  height: 370px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  position: absolute;
  top: 0;
  left: 0
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%

}

.relativ-pos {
  position: relative;
}



.banner h1 {
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

// HOME BANNER

.banner--home {
  // padding: 196px 0;
  background-size: cover;
  background-position: center;
  h1.home__text {
    font-weight: 600;
    font-size: 2rem;
    line-height: 40px;
    text-shadow: -10px 10px 35px rgba(82, 81, 81, 0.3);
    color: white;
    text-align: center;
    word-wrap: break-word;
    margin-bottom: 1.9rem;
  }
}

.banner__wrapper {
  height: 85vh;
  display: flex;
  position: relative;
  justify-content: start;
  align-items: center;
  img.banner__hero__image {
    position: absolute;
    bottom: -1px;
  }
}

.home-action {
  display: grid;
  grid-template-rows: 1fr 2fr;

  a {
    margin: 0 auto;
  }

  .main {
  color: black;
  text-decoration: underline;
  text-transform: uppercase;
  text-underline-offset: .265rem;
    &:hover {
      text-decoration: none;
      opacity: .8;
    }
  }

  .optional {
    font-size: 40px;
    color: black;
    font-weight: 100;
    &:hover {
      opacity: .5;
    }
  }
}


@media (min-width: 768px) {
  .banner__wrapper, .banner__content {
    h1.home__text {
      font-size: 2.5rem;
      line-height: 50px;
    }
  }
}
@media (min-width: 1024px) {
  .banner__wrapper, .banner__content {
    h1.home__text {
      font-size: 3.325rem;
      line-height: 60px;
    }
  }
}
