.btn-base {
  display: inline-block;
  text-decoration: none;
  background-color: $r-blue;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  transition: color .2s ease;
  &:hover {
    color: white;
    background-color: $r-blue-l;
  }
}


.btn-rede-light {
  background-color: rgba(255,255,255,0.9);
  padding: 14px 101px;
  /* border: 2px solid #0834611a; */
  border-radius: 10px;
  color: #083461;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  transition: .15s ease;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: $white;
    border: 1px solid $r-light-gray ;
    color: $r-blue-d;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 1px 1px 0px rgba(0,0,0,0.1);
  }
  &:active {
    color: $r-blue-d;
    font-weight: 800;
    background-color: $r-light;
  }

  .image--left {
    margin-right: .725rem;
    transform: rotate(90deg);
  }
}

.btn-rede-light--home {
  height: 53px !important;
  width: 325px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border: 1px solid rgba(8, 52, 97, 0.1) !important;
}

.btn-rede-light--small {
  padding: 12px 36px !important;
}

.btn-icon {
  background: #FFFFFF;
  border: 2px solid rgba(8, 52, 97, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 19px;
  padding: 8px 32px;
  &:hover {
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    border: 2px solid rgba(8, 52, 97, 0.2);
    cursor: pointer;
    img {
      opacity: .9;
    }
  }
}

.btn-icon--square {
  padding: 12px 16px;
}

.btn__album {
  opacity: 0;
  transition: opacity .2s ease-in-out;
  &.btn__album--active {
    opacity: 1;
  }
}

.btn__secondary {
  border-radius: 0;
  // padding-bottom: 8px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 2px;
  text-transform: uppercase;
  font-weight: 600;
  color: $r-blue-d;
  &:hover {
    opacity: .7;
  }
}

.btn__secondary--small {
  font-size: .8rem !important;
}

.btn__secondary--rede-primary {
  border-color: $primary;
  &:hover {
    border-color: 2px solid $primary;
  }
}
.btn__secondary--rede-primary-l {
  border-color: 2px solid $r-blue-l;
  &:hover {
        border-color: 2px solid $r-blue-l;
    }
}
.btn__secondary--rede-dark-red {
  border-color: 2px solid $r-red-d;
  &:hover {
      border-color: 2px solid $r-red-d;
    }
}

.btn-figma-light {
  color: $primary;
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(8, 52, 97, 0.1);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  width: 127px;
  text-transform: uppercase;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;
  transition: .2s;
  // opacity: 0;
  &:hover {
    background-color: $white;
    border: 2px solid $r-light-gray-d;
    color: $r-blue-d;
    font-weight: 800;
    text-decoration: none;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
  }
}

.btn-figma-light .visiblee {
  // opacity: 1;
}

.btn-nav {
  border: 1px solid gray;
  background-color: transparent;
  padding: 4px 8px;
  border-radius: 5px;
}


.rede-link {
  transition: color .7s ease-out, scale .5s ease-out;
  &:hover {
    scale: 1.2;
    color: $link-hover-color!important;
  }
}

.rede-link--footer:hover {
  color: $r-blue-l !important;
}
