.btn-base {
  display: inline-block;
  text-decoration: none;
  background-color: $r-blue;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  transition: color .2s ease;
  &:hover {
    color: white;
    background-color: $r-blue-l;
  }
}


.btn-rede-light {
  background-color: $white;
  padding: 10px;
  border: 2px solid $r-light-gray;
  border-radius: 10px;
  color: $r-blue-d;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  text-align: center;
  transition: font-weight .15s ease;

  &:hover {
    background-color: $white;
    border: 2px solid $r-light-gray-d;
    color: $r-blue-d;
    font-weight: 800;
    text-decoration: none;
    box-shadow: 1px 1px 7px rgba(0,0,0,0.1);
  }
  &:active {
    color: $r-blue-d;
    font-weight: 800;
    background-color: $r-light;
  }

  .image--left {
    margin-right: .725rem;
    transform: rotate(90deg);
  }
}


.btn-icon {
  background: #FFFFFF;
  border: 2px solid rgba(8, 52, 97, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 19px;
  padding: 8px 32px;
}

.btn__album {
  opacity: 0;
  transition: opacity .2s ease-in-out;
  &.btn__album--active {
    opacity: 1;
  }
}
