// V2
input[type="checkbox"] {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  // border: .15em solid currentColor;
  border: 2px solid rgba(8, 52, 97, 0.1);
  border-radius: .15em;
  // transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: .12s transform ease-in-out;
  box-shadow: inset 1em 1em $white;
  background-color: CanvasText;
  clip-path: polygon(10% 49%, 37% 71%, 84% 0, 100% 11%, 41% 100%, 0 63%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:checked {
  border: 2px solid #0834611a;
  background-color: $primary;
}

.search__input--checkbox label {
  display: grid;
  grid-template-columns: 1em auto;
  gap: .5em;
  align-items: center;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 600;
  letter-spacing: 1.25px;
  line-height: 1rem;
}

.search__input--checkbox:not(:last-child) {
  margin-bottom: 1rem;
}

// LW Checkbox pill
.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: $r-blue-sky !important;
  color: $primary !important;
  border: 1px solid $r-blue-l !important;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked+label {
  background-color: $r-blue-l !important;
  color: white !important;
}

.tag-selector--large + label {
  padding: 12px 24px;
  font-size: 1rem;
}
