.drop__down {
  position: relative;
}

.dropdown__icon--right {
  transform: rotate(-90deg);
}

.drop__down__card {
  position: absolute;
  background-color: white;
  padding: 21px 31px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 100;
  transition:all .5s ease-in-out;
}

.drop__down__card--right {
  right: 0;
}

.drop__down__card--lg {
  min-width: 332px;
  padding: 24px;
  padding-bottom: 16px;
  padding-top: 28px;
}

// coming from master
.drop__down__card--nav {
  inset: 0 auto auto 0;
  transform: translate3d(12px, 44px, 0);
  border: 1px solid #08346125;
  margin-top: 4px !important;
}
// coming from master

.drop__down__counter {
  white-space: nowrap;
}

.drop__down__options {
  height: 160px;
  overflow-y: scroll;
  overflow-x: auto;
}

.drop__down__options--lg {
  margin-bottom: 1rem;
}

.drop__down__card.active {
  visibility: visible !important;
  opacity: 1 !important;
  margin-top: 8px;
}

.drop__down__close {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 20px; */
  /* height: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid $r-light-gray-d;
  border-bottom-right-radius: 5px;
  border-bottom: 1px solid $r-light-gray-d;
  padding: 6px;
  // box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
  cursor: pointer;
}

.dropdown-menu-radius-bottom {
  border-radius: 0 0 4px 4px !important;
}

.dropdowm-menu-panel-width {
  min-width: 216px;
}

.dropdown-menu .d-flex .nav-link {
  // border-top-right-radius: 0 !important;
  // border-bottom-right-radius: 0 !important;
  // padding-right: 1 rem;
}
