.drop__down {
  position: relative;
}

.drop__down__card {
  position: absolute;
  background-color: white;
  padding: 21px 31px;
  left: 0;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 7;
}

.drop__down__counter {
  white-space: nowrap;
}
