.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon--white {
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 1;
}

.navbar-lewagon .navbar-brand img {
  // width: 40px;
}

.navbar-lewagon--purple {
  background-color: $purple;
}

.navbar-lewagon--blue {
  background-color: $r-blue;
}

.nav__layout {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-gap: 1rem;
  align-items: center;
}

.navbar {
  background-color: rgba(255, 255, 255, .9);
}

.list--inline {
  list-style: none;
  padding-left: 0;
  align-items: center;
  margin-bottom: 0;
  display: flex;
  li {
    padding: 12px;
  }
}

.nav-link {
  font-size: 14px;
  letter-spacing: 1.25px;
  color: $r-blue-d;
}
.nav-link.active {
  font-weight: bold;
}

.navbar-social .nav-item {
  margin-right: 8px;
}


.navbar-nav.mx-auto .nav-item {
  padding: .5rem;
}

.navbar-nav.navbar-social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .nav__layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }


}
