.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon--white {
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 1;
}

.navbar-lewagon .navbar-brand img {
  // width: 40px;
}

.navbar-lewagon--purple {
  background-color: $purple;
}

.navbar-lewagon--blue {
  background-color: $r-blue;
}

.nav__layout {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-gap: 1rem;
  align-items: center;
}

.navbar {
  background-color: rgba(255, 255, 255, .9);
}

.list--inline {
  list-style: none;
  padding-left: 0;
  align-items: center;
  margin-bottom: 0;
  display: flex;
  li {
    padding: 12px;
  }
}

p.nav-link {
  margin-bottom: 0;
}

.nav-link {
  font-size: 14px;
  letter-spacing: 1.25px;
  color: $r-blue-d;
  border-radius: 4px;
  font-weight: normal !important;

  &.active {
    font-variation-settings: "wght" 650 !important;
    background-color:#bde4f3e7 !important;
  }

  &:hover, &:active, &.show {
    background-color:#bde4f3e7 !important;
    color: $r-blue-d !important;
    font-variation-settings: "wght" 650 !important;
  }
}

.navbar-menu-item-arrow {
  margin-right: 6px;
}

.navbar-social .nav-item {
  // margin-right: 8px;
  // padding-right: 0 !important;
}


.navbar-nav .nav-item {
  padding: .5rem;
}

.navbar-nav.navbar-social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.navbar-collapse.navbar-mobile.collapse {
  transition: opacity .7s ease-out, height .5s ease-out;
}
.navbar-collapse.navbar-mobile.collapse.show {
  position: absolute;
  background-color: white;
  width: 100%;
  top: 62px;
  left: 0px;
  padding: 24px 12px 36px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  height: 0;
  opacity: 0;
  z-index: 101;
  height: 92vh;
  opacity: 1;

  .navbar-social {
    /* width: 100%; */
    grid-gap: 28px;
  }
}

.navbar-mobile-font {
  font-family: 'Unbounded' !important;
  font-weight: 400;
  font-size: 1.25rem !important;
  line-height: 36px;
}

.block-scroll {
  height: 100vh;
  overflow: hidden;
}

.navbar-mobile show {

}

.offcanvas {
  width: 100% !important;
}

@media (max-width: 768px) {
  .nav__layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }


}
