.observatory_contact {

}

.observatory__contact__wrapper {
  background-color: #f3f5f7;
  height: 100%;
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;

  .contact__text {
    font-weight: 600;
    letter-spacing: 0.15px;
    /* font-style: normal; */
    font-feature-settings: 'pnum' on, 'lnum' on;
  }

  .contact__info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 48px;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .contact__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
