// .swiper {
//   width: 100%;
//   margin: 24px auto
// }

// .swiper-slide {
//   text-align: center;
//   font-size: 18px;
//   background: #fff;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 12px 0;
// }

// .swiper-slide img {
//   display: block;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

.swiper {
  width: 100%;
  // height: 300px;
}

.swiper-slide {
  // width: 350px !important;
  // margin-right: 36px;
}

.swiper-pagination-bullet {
  background: $r-blue-d !important;
  opacity: .8;
}

.swiper-pagination-bullet-active {
  background: $r-blue-l !important;
  opacity: 1 !important;
}

.pagination--custom__bottom {
  bottom: -4px !important;
}

.swiper-button-prev, .swiper-button-next {
  color: white !important;
  text-shadow: 4px 4px 20px rgba(0,0,0,0.4);
}

.swiper-button-prev {
  margin-left: 10px;
}

.swiper-button-next {
  margin-right: 10px;
}

@media (min-width: 990px) {
  .pagination--custom__bottom {
    bottom: 10px !important;
  }

  .swiper--custom {
    padding-bottom: 3.3rem !important;
  }

}
