<%= link_to observatory_path(gallery) do %>
  <div class="observatory__card">
    <%#= display_banner(observatory) %>
    <div style="background-image: url('<%= display_banner_as_background(gallery) %>'); height: 240px; background-size: cover; border-radius: 10px 10px 0 0; background-position: center;"></div>
    <p><%= gallery.name %></p>
  </div>
<% end %>
