<%= link_to gallery_path(gallery) do %>
  <div class="observatory__card">
    <%#= display_banner(observatory) %>
    <div class="observatory__card--image"style="background-image: url('<%= display_banner_as_background(gallery) %>'); height: 240px; border-radius: 10px 10px 0 0; background-position: center;"></div>
    <p><%= gallery.name %></p>
  </div>
<% end %>
