<%= link_to gallery_path(gallery), class: 'text-reset text-decoration-none' do %>
  <div class="card__index text-primary">
    <div style="background: url(<%= display_banner_as_background(gallery) %>);background-size: cover;background-position: center;">
    </div>
    <p><%= gallery.name %></p>
  </div>
<% end %>
